@import url("../global_style.css");

section.section-skills{
    display: flex;
    flex-direction: column;
}

.title-skill.animate__animated{
 
  animation-duration: 0.8s;
}
section.section-skills .skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:14px;
    margin-bottom: 40px;
}

section.section-skills h2{
    text-align: center;
    color:var(--primary-color);
    text-transform: capitalize;
    font-size: 60px;
    margin: 20px 0 20px 0;
}





.card {
  position: relative;
  width: 260px;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  transition: scale 0.2s,opacity 0.3s;
  animation-duration: 1s;
  margin-top: 30px;
 overflow: hidden;
}

.card:hover{
  scale: 1.2;
}

.card.animate__animated.animate__bounceIn{
  opacity:.9
}

.card p{
    margin-top: 100px;
    padding-left: 10px;
    color: azure;
}

.card::after{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content:''attr(descShort)'';
  width: 100%;
  height: 50%;
  display: flex;
  font-weight: bold;
  justify-content: center;
  color: aliceblue;
  align-items: center;
   border-bottom-right-radius: 100px;
 border-bottom-left-radius: 16px;
  background-color: var(--primary-color);
  transition: all 0.5s;
}


.card:hover:after {
  content: ''attr(desc)'';
  color: aliceblue;
  font-size: 16px;
  padding: 4px;
  height: 100%;

  border-radius: 0%;
 
} 

@media screen and (max-width: 824px){
  .card{
    width: 360px;
  }
}
@media screen and (max-width: 761px){
  .card{
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  
  .card:hover{
    scale: 1;
  }

  
}
